<!DOCTYPE html>
<html>

<head>
    <!--    <style>-->

    <!--      /* First come the styles which are used in the demo */-->

    <!--      .facetsearch { -->
    <!--        display: inline-block;-->
    <!--        width: 200px;-->
    <!--        vertical-align: top;-->
    <!--      }-->
    <!--      .activeorderby,-->
    <!--      .activefacet {-->
    <!--        color: red;-->
    <!--      }-->
    <!--      .bottomline {-->
    <!--        padding: 10px 0 10px 0;-->
    <!--        font-weight: bold;-->
    <!--      }-->
    <!--      .bottomline .orderby,-->
    <!--      .bottomline .facettotalcount {-->
    <!--        display: inline-block;-->
    <!--      }-->
    <!--      .bottomline .orderby ul,-->
    <!--      .bottomline .orderby li {-->
    <!--        display: inline;-->
    <!--        padding: 0;-->
    <!--      }-->
    <!--      .bottomline .orderby-title {-->
    <!--        margin: 0 0 0 10px;-->
    <!--      }-->
    <!--      .bottomline .deselectstartover {-->
    <!--        float: right;-->
    <!--      }-->
    <!--      #language {-->
    <!--        width: 400px;-->
    <!--      }-->
    <!--      #language .facetlist{-->
    <!--        column-count: 2;-->
    <!--        -webkit-column-count: 2;-->
    <!--        -moz-column-count: 2;-->
    <!--        -o-column-count: 2;-->
    <!--      }-->
    <!--      /*.item {*/-->
    <!--      /*  width: 150px;*/-->
    <!--      /*  height: 250px;*/-->
    <!--      /*  margin: 0 10px 10px 0;*/-->
    <!--      /*  display: inline-block;*/-->
    <!--      /*  vertical-align: top;*/-->
    <!--      /*}*/-->
    <!--      /*.item h4 {*/-->
    <!--      /*  font-size: 1.2em;*/-->
    <!--      /*}*/-->
    <!--      /*.item .tags {*/-->
    <!--      /*  font-weight: bold;*/-->
    <!--      /*  color: gray;*/-->
    <!--      /*}*/-->
    <!--      #showmorebutton {-->
    <!--        border: 1px solid #AAA;-->
    <!--        border-radius: 15px;-->
    <!--        background-color: #DDD;-->
    <!--        margin: 0 0 10px 0;-->
    <!--        padding: 10px;-->
    <!--        width: 100%;-->
    <!--        display: block;-->
    <!--        text-align: center;-->
    <!--        cursor: pointer;-->
    <!--      }-->

    <!--      /* These styles are just general purpose styles to make the page look a little less aweful */-->

    <!--      * {-->
    <!--        margin: 0;-->
    <!--        padding: 0;-->
    <!--      }-->
    <!--      body {-->
    <!--        padding: 20px;-->
    <!--        font-family: sans-serif;-->
    <!--        font-size: 14px;-->
    <!--      }-->
    <!--      #wrapper, #documentation {-->
    <!--        margin: 0 auto;-->
    <!--        width: 800px;-->
    <!--      }-->
    <!--      p {-->
    <!--        padding-bottom: 1em;-->
    <!--        line-height: 1.3em;-->
    <!--      }-->
    <!--      h1, h2, h3{-->
    <!--        margin: 0 0 1em 0;-->
    <!--      }-->
    <!--      tt {-->
    <!--        background-color: #EEE;-->
    <!--        border: 1px solid #CCC;-->
    <!--      }-->
    <!--    </style>-->


    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet"/>

    <title>Earthcube</title>

    <link rel="stylesheet" href="./css/spacelab/bootstrap.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.0.0/js-yaml.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mocha/1.0.2/package/lib/browser/fs.js"></script>
    <script src="js/facetedsearch.js"></script>
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="https://www.earthcube.org/">
            <img src="images/EarthCube-White-Long-Tagline.png" height="30"
                 class="d-inline-block align-top" alt="EarthCube" loading="lazy">

        </a>
        <!-- -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="input-group form-inline  w-50 ">
            <input id="q" class="form-control w-25 ml-sm-2" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <a href="#" class="btn btn-default" id="searchBtn">
                    <img src="./images/icons/search.svg" alt="" width="32" height="32" title="Search">
                </a>
            </div>
            <input style="visibility: hidden" id="nn" type="number" min="5" max="200" step="5" value="20"/>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="https://geocodes.earthcube.org/about.html">Help</a>
                </li>
            </ul>

        </div>
    </nav>


    <div id="wrapper row">
        <div id="description">
            <h3>Faceted Search of EarthCube resources</h3>

        </div>
    </div>
    <!-- Here comes the demo, if you want to copy and paste, start here -->
    <div class="row col-12" id="filterDiv"> <!-- filters -->
        <div class="row col-3 align-items-start">
            <div id="facets" class="row col-12">

            </div>


        </div>
        <div class="row col-8 align-self-start ">
            <div id="heading" class="row col-12" style="height: 2em;"></div>
            <div id="results" class="row col-12"></div>
        </div>
    </div>
</div>


<script>
    async function getItemsFromSparql(q, n = 1000, o = 0) {
        console.log("Get Blaze full text");
        console.log(n);


        var url = new URL("https://graph.geodex.org/blazegraph/namespace/cdf/sparql"),

            // var url = new URL("http://192.168.2.89:8080/blazegraph/sparql"),
            // params = { query: "SELECT * { ?s ?p ?o  } LIMIT 11" }

// 			params = {
// 				query: ` prefix schema: <http://schema.org/> \
// SELECT ?total ?subj ?disurl ?score  ?name ?description \
//  WHERE {\
//   { \
//    ?lit bds:search \"${q}\" . \
//    ?lit bds:matchAllTerms "false" . \
//    ?lit bds:relevance ?score . \
//    ?subj ?p ?lit . \
//    BIND (?subj as ?s) \
//       {  \
//    		SELECT  ?s (MIN(?url) as ?disurl) { \
//              ?s a schema:Dataset . \
//              ?s schema:distribution ?dis . \
//    			?dis schema:url ?url . \
//    	  	} GROUP BY ?s \
//    } \
//    ?s schema:name ?name . \
//    ?s schema:description ?description .  \
//  } \
//  { SELECT  (COUNT(?s) AS ?total) \
//       WHERE { \
//          SERVICE <http://www.bigdata.com/rdf/search#search> { \
//               ?matchedValue \
//                         bds:search        \"${q}\" ; \
//                         bds:relevance     ?score ; \
//                         bds:rank          ?rank . \
//           } \
//           ?s        ?matchedProperty  ?matchedValue \
//           FILTER ( ! isBlank(?s) ) \
//         } \
// } \
//  }\
// ORDER BY DESC(?score)
// LIMIT ${n}
// OFFSET ${o}
// ` }
//const sparqlqueryData=
            params = {
                query: `PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                        prefix schema: <http://schema.org/>
                        SELECT distinct ?subj ?pubname (GROUP_CONCAT(DISTINCT ?placename; SEPARATOR=", ") AS ?placenames)
        (GROUP_CONCAT(DISTINCT ?kwu; SEPARATOR=", ") AS ?kw)
        ?datep  (MIN(?url) as ?disurl) ?score  ?name ?description ?resourceType
        WHERE {
            ?lit bds:search \"${q}\" .
            ?lit bds:matchAllTerms "false" .
            ?lit bds:relevance ?score .
            ?subj ?p ?lit .
						optional {?subj schema:distribution/schema:url ?url .}
            BIND ( IF ( exists { ?subj a schema:Dataset .}, "data", "tool")  AS ?resourceType ).
            ?subj schema:name ?name .
            ?subj schema:description ?description .
            filter( ?score > 0.04).
            OPTIONAL {?subj schema:datePublished ?datep .}
            OPTIONAL {?subj schema:publisher/schema:name ?pubname .}
            OPTIONAL {?subj schema:spatialCoverage/schema:name ?placename .}
            OPTIONAL {?subj schema:keywords ?kwu .}
        }
        GROUP BY ?subj ?datep ?pubname ?name ?description ?url ?score ?resourceType
        ORDER BY DESC(?score)
        LIMIT ${n}
        OFFSET ${o}`
            }
        Object.keys(params).forEach(key => url.searchParams.append(key, params[key]))

        console.log(params["query"]);

        const rawResponse = await fetch(url, {
            method: 'GET',
            //mode: 'no-cors', // no-cors, *cors, same-origin
            // cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            //credentials: 'omit', // include, *same-origin, omit
            headers: {
                'Accept': 'application/sparql-results+json',
                'Content-Type': 'application/json'
            } // ,
            // body: JSON.stringify({ query: 'SELECT * { ?s ?p ?o  } LIMIT 1', format: 'json' })
        });

        const content = await rawResponse.json();
        //console.log(content);
        var items = _.map(content.results.bindings, function (item) {

            var flattened = _.mapObject(item, function (value, key) {
                if (key === 'kw') {
                    var elements = value.value.split(',')
                    return elements;
                } else {
                    // if (_.isEmpty(value.value)) {
                    //     return null;
                    // }
                    return value.value;

                }

            })
            return flattened;
        })
        return items; //content.results.bindings;
        // const el = document.querySelector('#resultsRecords');
        // const s1 = document.querySelector('#filters');
        // render(showresults(content), el);
        // // render(projresults(content), s1);


    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        } else {
            return results[1] || 0;
        }
    }

    $(function () {
        let queryTextBox = $('#q');
        let q = queryTextBox.val();
        let qurl = $.urlParam('q');
        if (q === "") {
            if (qurl !== null) {
                q = qurl;
                queryTextBox.val(q);
            }
        }


        const item_template = `<div class="item card rounded mt-2">
                <div class="card-header">
                  <div class="card-title" ><%= obj.name %></div>
                  <div class="card-subtitle mb-2 text-muted"><%= obj.pubname %></div>
                </div>
                <div class="tags card-body overflow-auto">
                    <div class="card-text">
                     <% if (obj.description) {  %><%= obj.description %><% } %>
                    </div>
                    <div class="card-text">
                        <% if (obj.kw) {  %> <b>Keywords:</b> <%= obj.kw %><% } %>
                    </div>
                </div>
                <div class="card-footer">
                     <span class="badge badge-light"><%= obj.resourceType %></span>
                        <a class="card-link" href="<%= obj.disurl %>"><%= obj.disurl %></a>
                 </div>
            </div> `;

        // const facetContainer = `<div class=facetsearch id=<%= id %> ></div>`
        const facetContainer = `<div class="accordion col-12  rounded" id="<%= id %>accordian">
               <div class="card" id='<%= id %>'>
                    <!-- title -->

                <!-- list -->
                </div>
            </div>`;
        const facetTitleTemplate = `<div class="card-header" id="heading<%= id %>">
            <h2 class="ml-6 ">
                <button class="btn btn-link btn-block text-left " type="button" data-toggle="collapse"
                        data-target="#collapse<%= id %>" aria-expanded="true" aria-controls="collapse<%= id %>">
                    <%= title %><i class="fa fa-plus  float-right"></i>
                </button>

            </h2>
            </div>`;

        const facetListContainer = `<div id="collapse<%= id %>" class="collapse " aria-labelledby="heading<%= id %>" data-parent="#<%= id %>accordian">
            <div class="card-body">
                <div class="list-group pl-3 facetlist " >
            </div>

            </div>
       </div>`;
        const listItemTemplate = `<div class="list-group-item  facetitem">
                        <input type="radio" id="item<%= id %>" name="customRadioInline1"
                               aria-label="Checkbox for following text input" />
                        <label class="p-2" for="item<%= id %>"> <%= name %>  </label>
                        <span  class="badge badge-secondary float-right"><%= count %></span>
                    </div>`;

        const listItemTemplateSimple = `<div class="facetitem " id="<%= id %>"><%= name %> <span class="facetitemcount badge badge-light float-right">(<%= count %>)</span></div>`;
        const countTemplate = `<div class="facettotalcount col order-12"><%= count %> Results</div>`;
        const deselectTemplate = `<div class='btn btn-sm btn-info col order-6'>Clear all filters</div>`;

        const orderByTemplate = `<div class="dropdown col order-1"><button class=' btn btn-sm btn-info dropdown-toggle' id="orderbyMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="orderby-title">Sort by: </span> </button>
            <div class="dropdown-menu" aria-labelledby="orderbyMenuButton"><% _.each(options, function(value, key) { %>
                       <a class="orderbyitem dropdown-item" id="orderby_<%= key %>">
                       <%= value %> </a> <% }); %></div></button>
</div>`
        ;

        getItemsFromSparql(q)
            .then(function (results) {
                    $.facetsettings = {
                        items: results,
                        facets: {
                            // 'subj': 'Science Domain',
                            'resourceType': 'Resource Type',
                            'kw': 'Science Domain',
                            // 'name': 'Place',
                            'placenames': 'Place',
                            'pubname': 'Publisher/Repo',
                            'datep': 'Year Pulished'
                        },
                        resultSelector: '#results',
                        facetSelector: '#facets',
                        facetContainer: facetContainer,
                        facetTitleTemplate: facetTitleTemplate,
                        facetListContainer: facetListContainer,
                        listItemTemplate: listItemTemplateSimple,
                        resultTemplate: item_template,

                        deselectTemplate: deselectTemplate,
                        orderByTemplate: orderByTemplate,
                        countTemplate: countTemplate,
                        paginationCount: 50,
                        orderByOptions: {
                            'name': 'Name',
                            'pubname': 'Publisher',
                            'date': 'Date',
                            // 'subj': 'Subject',
                            //'RANDOM': 'Score'
                            'score': 'Score'
                        },
                        orderByOptionsSort: {
                            'name': 'acs',
                            'pubname': 'acs',
                            'date': 'acs',
                            // 'subj': 'Subject',
                            //'RANDOM': 'Score'
                            'score': 'desc'
                        },
                        facetSortOption: {'continent': ["North America", "South America"]}
                    };

                    $.facetelize($.facetsettings);
                    //$('#filterDiv').show();
                    $('.facetsearch').on('show.bs.collapse', _handleCollapse);
                    $('.facetsearch').on('hide.bs.collapse', _handleExpand);
                }
            )
    });
</script>

<script>
    //$.facetelize($.facetsettings);
    //var yaml = require('js-yaml');
    //     jQuery.getJSON('./settings.yaml',
    // function(data ){
    //     var settings = jsyaml.load(data);
    // }
    //     );
    // $(function () {
    //     "use strict";
    //     $(document).ready(function () {
    //         $.get('./settings.yaml')
    //             .done(function (data) {
    //                 console.log('File load complete');
    //                 console.log(jsyaml.load(data));
    //                 var jsonString = JSON.stringify(data);
    //                 console.log(jsonString);
    //                 console.log($.parseJSON(jsonString));
    //             });
    //     }() );
    // });
    document.querySelector('#searchBtn').addEventListener('click', search);
    $( "#q" ).keypress (function( event ) {
        if ( event.which == 13 ) {
            search(event);
        }
    });
                function search(e) {
                    // (async () => {
                    let q = $('#q').val();

                    getItemsFromSparql(q).then(function (results) {
                        $.facetsettings.items = results;
                        //$.facetUpdate();
                        $.facetelize($.facetsettings);
                    });
                    updateURL(q,"all", true);
                    // });
                };
                // document.querySelector('.collapse').addEventListener('show.bs.collapse', _handleCollapse);
                // document.querySelector('.collapse').addEventListener('hide.bs.collapse', _handleExpand);

                function _handleCollapse(e) {
                    console.log("collapse");

                    // Toggle plus minus icon on show hide of collapse element
                    $(this).find(".fa").removeClass("fa-plus").addClass("fa-minus")


                };

                function _handleExpand(e) {
                    console.log("expand");

                    // Toggle plus minus icon on show hide of collapse element
                    $(this).find(".fa").removeClass("fa-minus").addClass("fa-plus");
                };

    function updateURL(q, s,  push) {
        console.log("UpdateURL Called");

        let params = new URLSearchParams(location.search.slice(1));
        params.set('q', q);
        params.set('searchTypes', s);


        // Issues with current browsers and titles
        //document.title = `Search:${q}&n=${n}&o=${o}`;

        //window.history.replaceState({}, '', location.pathname + '?' + params);
        const state = {
            q: q,
            searchTypes: s,

        }
        if (push) {
            window.history.pushState(state, 'GeoDex Search', location.pathname + '?' + params);
        }

    }
</script>
</div>
<a href="http://github.com/eikes/facetedsearch"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                     src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                                                     alt="Fork me on GitHub"></a>
</body>
</html>
