card-overrides {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

.facetlist {
    overflow-y:scroll;
    max-height:20em;
}
.activeorderby,
.activefacet {
    font-weight: bold;
}
.facetitem  {
    cursor: default;
}
